.sign-up {
  padding: 100px 250px;
}

.sign-up-card {
  background-color: #3882f6;
  border-radius: 12px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 20px;
  padding: 40px;
  min-width: 250px;
}

.left-sign-up p {
  color: #f9faf8;
  margin: 5px;
}

.action {
  font-size: 24px;
  font-weight: bold;
}
